In [34]:
import numpy as np
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import MinMaxScaler

In [35]:
columns = ["id","RI","Na","Mg","Al","Si","K","Ca","Ba","Fe","Type"]
data = pd.read_csv("../../Dataset/glass.csv",names = columns,header=0)

In [36]:
data

,id,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.0,0.00,build wind float
1,2,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.0,0.00,vehic wind float
2,3,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.0,0.00,build wind float
3,4,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.0,0.00,tableware
4,5,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.0,0.24,build wind non-float
...,...,...,...,...,...,...,...,...,...,...,...
209,210,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.0,0.00,vehic wind float
210,211,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.0,0.00,build wind non-float
211,212,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.0,0.14,build wind non-float
212,213,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.0,0.00,build wind non-float
213,214,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.0,0.00,tableware

In [37]:
labelEncoder = LabelEncoder()
labelEncoder.fit(data["Type"])
data["Type"] = labelEncoder.transform(data["Type"])

In [38]:
data

      id       RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  Type
0      1  1.51793  12.79  3.50  1.12  73.03  0.64   8.77  0.0  0.00     0
1      2  1.51643  12.16  3.52  1.35  72.89  0.57   8.53  0.0  0.00     5
2      3  1.51793  13.21  3.48  1.41  72.64  0.59   8.43  0.0  0.00     0
3      4  1.51299  14.40  1.74  1.54  74.55  0.00   7.59  0.0  0.00     4
4      5  1.53393  12.30  0.00  1.00  70.16  0.12  16.19  0.0  0.24     1
..   ...      ...    ...   ...   ...    ...   ...    ...  ...   ...   ...
209  210  1.51610  13.42  3.40  1.22  72.69  0.59   8.32  0.0  0.00     5
210  211  1.51592  12.86  3.52  2.12  72.66  0.69   7.97  0.0  0.00     1
211  212  1.51613  13.92  3.52  1.25  72.88  0.37   7.94  0.0  0.14     1
212  213  1.51689  12.67  2.88  1.71  73.21  0.73   8.54  0.0  0.00     1
213  214  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.0  0.00     4

[214 rows x 11 columns]

In [39]:
dbscan = DBSCAN(eps=2 , min_samples=3).fit(data.iloc[:,1:])
print (dbscan.labels_)

[ 0  1  0 -1 -1  0  1  0  1  0  0  0  0  1  1  0  1  0  0  0  0 -1  0  0
  0  0  0  1  0  1  0  1 -1  0  0  0  0  0  0  0  0  0  0  0  1  0 -1  0
  0  0  0  0  0  0  1  0 -1  0  1  0  0  0  0  0  0  1  0  1 -1  0  1  0
  1  0  0  0  0  0  1  0  0  0  1  0  0  0  0  0  0  0  1  0  0  1  1  0
  1  0  0  0  0  0 -1  1  1 -1  0  1  0  0  0  1  0  1  1  1  0 -1  0  0
  0  0  0  0  0  0 -1  1  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0 -1  0  0  0  1  0  1  0  0  0  0  0  1 -1  0  0  0  0
  0  1  0  0  0 -1  0  1  0  0  0  1  0  0  1  0  0  1  0  0  1  0  0  0
  1  1  1  0  0  0  0  0  0  0  1  0  0  0  1  0  0  1  0  0  0  1]

In [40]:
Agglomerative = AgglomerativeClustering().fit(data.iloc[:,1:])
print (Agglomerative.labels_)

[1 0 1 0 0 1 0 1 0 1 1 1 1 0 0 1 0 1 0 1 1 0 1 1 0 1 1 0 1 0 1 0 0 1 1 1 1
 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 0 1 0 0 1 0 1 0 1
 1 1 1 1 0 1 1 1 0 1 0 1 0 1 1 0 0 1 1 0 0 1 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1
 0 1 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0
 1 1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 0 1 1 0 0 1 1 0 0 1
 0 1 1 0 0 1 1 0 0 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 1 0]